doctype html
html(lang="ru")
    block head
    head
        meta(charset="utf-8")
        title=title
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="IE=edge" http-equiv="x-ua-compatible")

        meta(name="description" content=description)
        meta(name="keywords" content=keywords)
        link(rel="stylesheet" href="/assets/css/normalize.css")
        link(rel="stylesheet" href="/assets/css/main.css")
    body